.footer-section {
    display: flex;
    justify-content: space-around;
    color: white
  background-color: rgb(32, 32, 119);
  margin-top: 40px;
  padding: 50px;
}
.footer-section-1 p {
  color: white;
  text-align: start;
}
.footer-section-1 img {
  width: 150px;
  color: red;
  border-bottom: 1px solid grey;
}
