.Logo-img {
  width: 150px;
  margin: 20px;
  padding-right: 10px;
  border-right: 1px solid gray;
  color: rgb(235, 120, 78);
}
.Header-btn {
  background-color: rgb(241, 111, 64);
  border: none;
  border-radius: 3px;
  padding: 3px;
}
