.work-process {
  margin: 30px;
}
/* .workProcess-text {
  border-bottom: 3px solid rgb(238, 110, 63);
  width: 10px;
} */
.workProcess-text h2 {
  color: rgb(238, 110, 63);
}
.workProcess-text p {
  border-bottom: 3px solid rgb(238, 110, 63);
  width: 20px;
}
