.features {
  padding: 40px;
  margin-bottom: 30px;
}
.feature-text span {
  color: rgb(238, 110, 63);
}
.feature-text h1 {
  font-size: 50px;
}
.feature-banner {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: start;
  text-align-last: auto;
  padding: 40px;
}
.feature-banner img {
  width: 500px;
}
.feature-banner-text h4 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: bold;
}
.feature-banner-text p {
  color: gray;
  font-weight: 400;
}
.feature-banner-text {
  padding-top: 100px;
}
.feature-banner-text img {
  width: 60px;
  background-color: rgba(247, 125, 81, 0.945);
  border-radius: 5px;
  padding: 10px;
}
