.choosePlan {
  background-color: whitesmoke;
  padding: 20px;
}
.choosePlan-text {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.choosePlan-text b {
  color: rgb(55, 55, 209);
}
.choosePlan-text h1 {
  font-size: 50px;
}
.choosePlan-text p {
  color: gray;
  font-weight: 400;
}
.choosePlan-text span {
  color: rgb(238, 110, 63);
}
.choosePlan-card {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.choosePlan-single-card {
  padding: 40px;
  background-color: white;
  border-radius: 5px;
}
.choosePlan-single-card button {
  background-color: rgb(238, 110, 63);
  border: none;
  border-radius: 4px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-weight: 700;
}
