.clients {
  margin-top: 50px;
}
.star-icon {
  justify-content: center;
  color: rgb(252, 215, 5);
  display: flex;
  padding: 20px;
}
.clientImg img {
  width: 120px;
  height: 120px;
  border-radius: 50px;
  padding: 20px;
}
