.clients {
  margin-top: 50px;
}
.star-icon {
  justify-content: center;
  color: rgb(252, 215, 5);
  display: flex;
  padding: 20px;
}
.clientImg img {
  width: 100px;
  height: 150px;
  border-radius: 20px;
}
