.services {
  margin: 30px;
}
.service-text {
  align-items: center;
}

.service-card {
  display: flex;
  justify-content: space-around;
}
.single-card img {
  width: 100px;
}
.service-card :hover {
  border: 2px solid rgb(253, 114, 64);
  border-radius: 5px;
}
