.blogs-card {
  display: flex;
  justify-content: space-around;
}

.date-btn {
  /* display: flex;
  justify-content: flex-start; */
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.img-btn {
  border: none;
  padding: 5px;
}
.blog-card-text {
  text-align: start;
}
