.blog-cards {
  display: flex;
  justify-content: space-around;
}

.blog-card img {
  width: 300px;
  border-radius: 10px;
}
.date-btn {
  margin-left: 100px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.img-btn {
  margin-top: -100px;
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
}
.img-btn button {
  /* margin-top: -100px; */
  margin-left: 10px;
  font-size: x-small;
  font-weight: 500;
  color: rgb(255, 255, 254);
  background-color: rgb(253, 114, 64);
  border: none;
  border-radius: 5px;
  padding: 8px;
}
.blog-card-text {
  text-align: start;
  padding-left: 50px;
}
