.blog-cards {
  display: flex;
  justify-content: space-around;
}

.blog-card img {
  width: 300px;
  border-radius: 10px;
}
.date-btn {
  margin-left: 100px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.img-btn {
  background-color: rgb(253, 114, 64);
  border: none;
  padding: 5px;
}
.blog-card-text {
  text-align: start;
  padding-left: 50px;
}
